*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #3b3d47;
  background-color: blue;
  overflow-x: hidden;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav ul li {
  float: left;
  display: inline-block;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.light,
.light a {
  color: #f3f3f3;
}

.container.test {
  margin: 20px auto;
  min-height: 50px;
}

.custom-carousel {
  width: 80%;
  margin: 0 auto 50px;
  position: relative;
}
.custom-carousel ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
.custom-carousel li {
  position: absolute;
  top: 0;
  float: left;
  display: inline-block;
  padding: 10px;
  z-index: 1;
  -webkit-transition: left 1s, opacity 1s;
  transition: left 1s, opacity 1s;
  opacity: 0;
  background: white;
}
.custom-carousel li.active {
  left: 0 !important;
  z-index: 2;
  opacity: 1;
}
.custom-carousel .cc-control {
  padding: 10px 0;
}
.custom-carousel .cc-control .prev,
.custom-carousel .cc-control .next {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background: white;
}
.custom-carousel .cc-control .prev {
  float: left;
}
.custom-carousel .cc-control .next {
  float: right;
}
.custom-carousel .cc-pagination {
  padding: 10px 0;
  text-align: right;
}
.custom-carousel .cc-pagination span {
  padding: 0px 8px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  margin-left: 6px;
}
.custom-carousel .cc-pagination span.active {
  background-color: blue;
  border: 1px solid white;
}
